<!DOCTYPE html>
<html>

<head>
  <title>App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
  <p>
    <%= render 'layouts/notifications' %>
    <%= current_user.email + " でログイン中" %>
    <%= link_to("ログアウト", destroy_user_session_path, method: :delete) %>
  </p>

  <% end %>

  <%= yield %>
</body>

</html>
